<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title></title>
  <% if(htmlWebpackPlugin.files.favicon){ %>
    <link href="<%= htmlWebpackPlugin.files.favicon%>" rel="apple-touch-icon-precomposed">
    <% } %>
      <% for(let v of htmlWebpackPlugin.files.css) { %>
        <link href="<%= v %>" rel="stylesheet">
        <% } %>
</head>

<body>

  <div id="app"></div>

  <script>
  <% for (let [k, v] in htmlWebpackPlugin.options.window) { %>
      window['<%= k %>'] = <%= JSON.stringify(v) %> || '';
  <% } %>
  </script>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>